/* #################### COLOR PALETTE ###################### 

COLOR PALETTE

Dark Blue - #15192d;
Light Blue - #d1e4fc;
Royal Blue - #322c6f;
Red - #b91806;



######################## RESET ########################## */
html, body, span,p,applet,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin:0;
    padding:0;
    border:0;
    font-size:16px;
    font:inherit;
    vertical-align:bottom
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block
}

html {
    box-sizing:border-box
}

*,:before,:after {
    box-sizing:inherit
}


/* ################ GENERAL STYLES ###################### */
.outline {
    display:none
}

.wrapper {
    padding-top: 8%;
}

.wrapper-bottom {
    padding-bottom: 8%; /* 24px ÷ 1200 */
}

.inside-top-padding {
    padding-top: 4%; /* 48px ÷ 1200 */
}

.inside-b-padding {
    padding-bottom: 4%; /* 48px ÷ 1200 */
}

.x-padding {
    padding-left: 4%;
    padding-right: 4%; /* 24px ÷ 1200 */
}

html {
    background-color: #aaa;
}

body {
    font: normal 16px/1.5em "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    color: #15192d;
    min-width: 300px;
    max-width: 1366px;
    margin: 0 auto;
    background-color: #fff;
}

.share {
    margin-top: 0;
    padding-top:10px;
    padding-bottom: 10px;
    background-color: #15192d;
    overflow:auto;
}

.share p {
    line-height: 1;
    color: #fff;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

.share-btn {
    display: inline-block;
}



@font-face {
    font-family:'bebas_neueregular';
    src: url(font/BebasNeue-webfont.eot);
    src: url(font/BebasNeue-webfont.eot?#iefix) format("embedded-opentype"),url(font/BebasNeue-webfont.woff2) format("woff2"),url(font/BebasNeue-webfont.woff) format("woff"),url(font/BebasNeue-webfont.ttf) format("truetype"),url(font/BebasNeue-webfont.svg#bebas_neueregular) format("svg");
    font-weight: 400;
    font-style: normal;
}

h2 {
    font: normal 48px/1em bebas_neueregular,"Century Gothic",sans-serif;
    margin:.5em 0; /* 8px */
}

.subscription h2,.about-me h2,.benefits h2 {
    text-align: center;
}

h3 {
    font-family: bebas_neueregular,"Century Gothic",sans-serif;
    font-size: 32px;
    line-height: 1em;
    margin-top: 1em;
    color: #322c6f;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

a:link, a:active, a:visited {
    text-decoration: underline;
    color: #322c6f;
}

a:hover {
    color: #15192d;
}

.newsletter a:link, .newsletter a:active, .newsletter a:visited {
    color: #fff;
}

.newsletter a:hover {
    color: #d1e4fc;
}

header,.benefits,.about-me,.newsletter {
    overflow: auto;
}

header {
    background-color: #fff;
}

header .logo {
    max-width: 100%; /* Prevent logo from growing larger than container on zoom */
}

.logo img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

header .social {
    display: none;
}

.social a {
    display: inline-block;
    float: none;
    margin-left: 2.5%;
    margin-right: 2.5%; /* 24px ÷ 288px */
    text-align: center;
    text-decoration: none;
    font: normal 24px/1em bebas_neueregular,"Century Gothic",sans-serif;
}

.newsletter {
    background-color: #322c6f;
    color: #fff;
}

.newsletter .social {
    display: block;
    text-align: center;
    padding-top: 2.3em; /* 40px */
}

.newsletter .social a {
    color: #fff;
}

.newsletter .social a:hover {
    color: #fff;
}

.circle {
    display: block;
    background-color: #fff;
    border-radius: 50%;
    height: 3em; /* 72px ÷ 24px - font is set under .social a */
    width: 3em; /* 72px ÷ 24px */
}

.blog {
    background-image: url(images/blog-t.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.podcast {
    background-image: url(images/podcast-t.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.subscription {
    text-align: center;
    display: block;
}

.subscription a {
    color: #fff;
}

a.subscribe-button {
    display: block;
    font-family: "bebas_neueregular","Century Gothic",sans-serif;
    line-height: 2em;
    background-color: #b91806;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 2.25em; /* 36px ÷ 16 */
    height: 2em; /* 96 ÷ 48 */
    margin: 1em auto;
    /* width is based on width of .subscription; for small screens width is default 100% */
}

a.subscribe-button:hover  {
    background-color: #da1c07;
    color: #fff;
}

.subscription p:first-of-type {
    margin-top: -1em;
}


.benefits, .payment {
    background-color: #d1e4fc;
}

.benefits .icon {
    width: 192px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    font-size: 1.125em;
    
  }

.about-me {
    background: #fff;
}

.about-me img {
    margin: 0 auto;
}

.ben {
    display: block;
    text-align: center;
}


/* ################ 401px+ STYLES ###################### */

@media screen and (min-width: 401px)  {

    a.subscribe-button {
        width: 288px; 
    }

}



/* ################ 679px+ STYLES ###################### */

@media screen and (min-width: 679px)  {


.logo {
    display:block;
}

.subscription h2, .about-me h2 {
    text-align: left;
}

.subscription {
    float:left;
    padding-right: 5em;
}


.newsletter .social {
    float: left;
    width: 15em; /* 240 ÷ 16 */
    overflow: hidden;
}

.newsletter .social a {
    float: left;
    margin-right: 20%; /* Context is 15em = 240px; 48 ÷ 240 */
    margin-left: 0;
}

.benefits {
    clear: left;
}

.ben {
    display: block;
    float: right;
    margin-top: -3.43em; /* -55px ÷ 16; moves card up toward heading */
    width: 40%;
    max-width: 260px;
}

.about-me p {
    margin-right: 34%; /* 408 ÷ 1200; makes room for card photo */
}

}



/* ################ 750px+ STYLES ###################### */

@media screen and (min-width: 750px)  {

   .share-block {
    float:right;
}

.logo {
    float: left;
}


.benefits h2 {
    text-align: left;
}

.benefits .icons {
    text-align: justify;
}

.benefits .icon {
    display: inline-block;
    vertical-align: top;
    width: 192px;
    text-align: center;
    margin-top: 1em;
    margin-bottom:0;
}

.icons:after {
    content: '';
    display: inline-block;
    width: 100%;
}


}


/* ################ 1040px+ STYLES ###################### */
@media screen and (min-width: 1040px) {

 
    
.wrapper {
    padding-top: 6%; /* 72px ÷ 1200 */
    margin: 0 auto;
}

.wrapper-bottom {
    padding-bottom: 6%; /* 72px ÷ 1200 */
}

.x-padding {
    padding-left: 8%;
    padding-right: 8%; /* 96px ÷ 1200px */
}

header .logo {
    max-width: 70%; /* Prevent logo from crowding out social on zoom */
} 

header .social {
    display: block;
    float: right;
    width: 200px;
}

header .social a {
    color: #322c6f;
    float: right;
    padding-top: 27px;
}


.social .circle {
    background-color: #d1e4fc;
}


.newsletter .social {
    display: none;
}

.description {
    float: left;
    width: 60%; /* Makes space for subscribe button */
}


.subscription {
    display: block;
    float: right;
    padding-top: 1em; /* 96px ÷ 16 */
    padding-right: 0;
}

.benefits a.subscribe-button {
    font-size: 3em; /* 48px ÷ 16 */
    margin: 0;
}

.benefits .subscribe-button {
    display: none;
}


}